.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@font-face {
  font-family: "Outfit";
  src: url("./assets/fonts/outfit/Outfit-VariableFont_wght.ttf");
  font-weight: 400 700;
  font-style: normal;
}

@font-face {
  font-family: "Young Serif";
  src: url("./assets/fonts/young-serif/YoungSerif-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

html {
  font-size: 62.5%;
}

:root {
  --rose-800: #7a284e;
  --rose-50: #fff7fb;
  --stone-900: #312e2c;
  --stone-600: #5f564d;
  --stone-150: #e3ddd7;
  --stone-100: #f3e5d7;
  --brown-800: #854632;

  --space-1: 0.8rem;
  --space-2: 1.2rem;
  --space-3: 1.6rem;
  --space-4: 2.4rem;
  --space-5: 3.2rem;
  --space-6: 4rem;
  --space-7: 4.8rem;
  --space-8: 12.8rem;
}

body {
  font-size: 1.6rem;
  line-height: 1.5;
  min-height: 100vh;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: white;
}

.card-img {
  aspect-ratio: 2 / 1;
  margin-bottom: var(--space-6);
}

.card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.card-body {
  padding: var(--space-5);
  padding-top: 0px;
  font-family: "Outfit", sans-serif;
  color: var(--stone-600);
}

.card h1 {
  font-size: 3.6rem;
  color: var(--stone-900);
}

.card h2 {
  font-size: 2.8rem;
  color: var(--brown-800);
}

.card-body > * + * {
  margin-top: var(--space-5);
}

.card :is(h1, h2, caption) {
  margin-bottom: var(--space-4);
}

.card :is(h1, h2) {
  line-height: 1;
  font-family: "Young Serif", sans-serif;
  font-weight: 400;
}

strong {
  font-weight: 700;
}

.card .preparation {
  padding: var(--space-4);
  background-color: var(--rose-50);
}

.card .preparation h2 {
  color: var(--rose-800);
  font-family: "Outfit", sans-serif;
  font-size: 2rem;
  font-weight: 700;
}

.card :is(ul, ol) {
  list-style: none;
  padding-left: var(--space-1);
}

.card :is(ul, ol) li {
  display: flex;
  gap: var(--space-4);
}

.card ul li {
  align-items: center;
}

.card ul li::before {
  content: "";
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: var(--brown-800);
  flex-shrink: 0;
}

.card ol {
  counter-reset: instructions 0;
}

.card ol li {
  counter-increment: instructions 1;
}

.card ol li::before {
  content: counter(instructions, decimal) ".";
  color: var(--brown-800);
  flex-shrink: 0;
  font-weight: 700;
}

.card .preparation ul li:before {
  background-color: var(--rose-800);
}

.card li + li {
  margin-top: var(--space-1);
}

.nutrition-table {
  width: 100%;
  text-align: start;
  border-collapse: collapse;
}

.nutrition-table caption {
  text-align: start;
}

.nutrition-table :is(th, td) {
  text-align: start;
}

.nutrition-table td {
  font-weight: 700;
  color: var(--brown-800);
  padding-right: var(--space-5);
}
.nutrition-table th {
  padding-block: var(--space-2);
  padding-right: var(--space-3);
  padding-left: var(--space-5);
  font-weight: 400;
}

.nutrition-table tbody tr:first-child :is(th, td) {
  padding-top: 0px;
  vertical-align: top;
}

.nutrition-table tbody tr:last-child :is(th, td) {
  padding-bottom: 0px;
  vertical-align: bottom;
}

.nutrition-table tr + tr {
  border-top: 1px solid var(--stone-150);
}

@media (min-width: 768px) {
  .card {
    width: clamp(61.6rem, 80vw, 73.6rem);
    border-radius: 24px;
  }

  .card-body {
    padding: var(--space-6);
  }

  .card-img {
    padding-inline: var(--space-6);
    padding-top: var(--space-6);
  }
  .card-img img {
    border-radius: 12px;
  }

  body {
    padding: var(--space-8) var(--space-5);
    background-color: var(--stone-100);
  }

  .card h1 {
    font-size: 4rem;
  }
}
